<div class="modal-overlay" (click)="onCerrar()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-header">
      <h3>Registrar Movimiento</h3>
      <button class="btn-close" (click)="onCerrar()">&times;</button>
    </div>

    <form [formGroup]="formMovement" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="idProducto">ID Producto</label>
        <input
          id="idProducto"
          type="text"
          formControlName="idProducto"
          class="form-control"
        />
        @if(formMovement.get('idProducto')?.invalid && formMovement.get('idProducto')?.touched){
            <small class="error">
                El ID del producto es obligatorio
            </small>
        }

      </div>

      <div class="form-group">
        <label for="tipoMovimiento">Tipo de Movimiento</label>
        <select
          id="tipoMovimiento"
          formControlName="tipoMovimiento"
          class="form-control">
          <option value="" disabled selected>Seleccione una opción</option>
          <option value="Entrada">Entrada</option>
          <option value="Salida">Salida</option>
        </select>
        @if(formMovement.get('tipoMovimiento')?.invalid && formMovement.get('tipoMovimiento')?.touched){
            <small class="error">
            Debe seleccionar un tipo de movimiento
            </small>
        }

      </div>

      <div class="form-group">
        <label for="cantidad">Cantidad</label>
        <input
          id="cantidad"
          type="number"
          formControlName="cantidad"
          class="form-control"
        />
        @if(formMovement.get('cantidad')?.invalid && formMovement.get('cantidad')?.touched){
            <small
            class="error">
            Ingrese una cantidad válida (mayor a 0)
            </small>
        }
      </div>

      <div class="modal-footer">
        <button type="button" class="btn-secondary" (click)="onCerrar()">
          Cancelar
        </button>
        <button type="submit" class="btn-primary">Guardar</button>
      </div>
    </form>
  </div>
</div>